@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;

.recipe {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: clamp(320px, 70%, 650px);
	background-color: #fff;
	margin: 0 auto;
	border-radius: 8px;
	padding: 0 0 20px;

	&__img-box {
		width: clamp(320px, 100%, 650px);
		border-radius: 8px;
		margin: 0 auto;
		text-align: center;
	}

	&__img {
		width: 100%;
		border-radius: 8px;
	}

	&__main-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 30px;
	}

	&__title {
		font-weight: 500;
	}

	&__description {
		color: $secondary-color;
		line-height: 25px;
	}

	&__preparation {
		background-color: $bonus-background-color;
		border-radius: 8px;
		padding: 20px;
	}

	&__preparation-title {
		color: $bonus-color;
		font-weight: 600;
		font-size: 19px;
		margin-bottom: 15px;
	}

	&__preparation-list {
		@include list;
	}

	&__preparation-list-item {
		color: $secondary-color;
		@include list-item($bonus-color);
	}

	&__preparation-list-header {
		font-weight: 600;
	}

	&__ingredients-title {
		color: $main-color;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&__ingredients-list {
		@include list;
	}

	&__ingredients-list-item {
		color: $secondary-color;
		@include list-item($main-color);
	}
}

@media (min-width: 576px) {
	.recipe {
		margin: 50px auto 20px;

		&__img-box {
			padding: 30px 30px 0 30px;
		}
	}
}
