@use "../abstract/colors" as *;
@use "../abstract/mixins" as *;

.recipe {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: clamp(320px, 70%, 650px);
	background-color: #fff;
	margin: 0 auto;
	border-radius: 8px;
	padding: 0 0 20px;

	&__img-box {
		width: clamp(320px, 100%, 650px);
		border-radius: 8px;
		margin: 0 auto;
		text-align: center;
	}

	&__img {
		width: 100%;
		border-radius: 8px;
	}

	&__main-box {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 0 30px;
	}

	&__header-title {
		@include title($main-dark-color);
	}

	&__description {
		color: $secondary-color;
		line-height: 25px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 15px;
	}

	&__list-header-text {
		font-weight: 600;
	}

	&__preparation {
		background-color: $bonus-background-color;
		border-radius: 8px;
		padding: 20px;
	}

	&__preparation-title {
		@include title($bonus-color);
		font-size: 19px;
	}

	&__preparation-list-item {
		@include list-item($bonus-color, $secondary-color);
	}

	&__ingredients,
	&__instructions {
		border-bottom: 1px solid $border-color;
		padding: 0 0 30px;
	}

	&__ingredients-title,
	&__instructions-title {
		@include title($main-color);
	}

	&__ingredients-list-item,
	&__instructions-list-item {
		@include list-item($main-color, $secondary-color);
	}
}

@media (min-width: 576px) {
	.recipe {
		margin: 50px auto 20px;

		&__img-box {
			padding: 30px 30px 0 30px;
		}
	}
}
